# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Backend
backend/node_modules/
backend/.cache/
backend/.tmp/
backend/build/
backend/dist/
backend/.env
node_modules/

# OS/Misc
.DS_Store
Thumbs.db

backend/public/uploads/*
!backend/public/uploads/.gitkeep
